@{
    ViewBag.Title = "About";
}
<h2>Site Rules</h2>

<p>Violation of any rules will result in permanent ban of your account.</p>
<p><strong>When making your profile with HTML and javascript, the profile will not save if you try using the following code:</strong></p>
<ul>
    <li>AJAX</li>
    <li>jQuery</li>
    <li>SQL Injections</li>
    <li>More to be added as necessary</li>
</ul>
<br />
<p><strong>Your profile, user comments, or shared files cannot contain the following:</strong></p>
<ul>
    <li>Is unlawful, libelous, defamatory, sexually explicit, obscene, abusive, violates other's privacy rights.</li>
    <li>Contains personal information such as telephone numbers, street addresses or email addresses.</li>
    <li>Is vulgar or inappropriate language.</li>
    <li>Promotes dangerous or misuse of products.</li>
    <li>Contains confidential, non-public information about products.</li>
    <li>Degrades others on basis of gender, race, class, ethnicity, national origin, religion, sexual preference or disability.</li>
    <li>Is a personal attack or designed to incite others to violate rules.</li>
    <li>Is disruptive or off topic.</li>
    <li>Is for any commercial purpose or solicitation of donations.</li>
    <li>Has copyright protected materials.</li>
    <li>Link baiting (embedding a link in your post to draw traffic to your own site).</li>
    <li>Is spamming in nature.</li>
</ul>
