@model CodersPortal.Models.IndexViewModel

<style>
    section{
        height: 1000px;
    }
    #inputField{
        border: 1px solid black;
        border-radius: 3px;
    }
    #profileButton{
        background-color: white;
        border: 1px orange;
    }

</style>
@{
    ViewBag.Title = "Edit";
}
@{var myHTML = Model.HTML.Replace('$', '\n');
    if (myHTML == null || myHTML == "")
    {
        myHTML = "please click edit to add content to this profile";
    }
}
<h2>Edit</h2>

<div id="inputField">
<section contenteditable="true" id="editable">
    @myHTML    
</section>
    </div>

<button onclick="SaveHTML(@Model.Profile_Id, true)">Save and Set as Public</button>
<button onclick="SaveHTML(@Model.Profile_Id, false)">Save and Set as Private</button>




            <div id="profileButton">
                @Html.ActionLink("View Profile", "Index")
            </div>

            @section Scripts {
                <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
                <script type="text/javascript" src="~/scripts/loadProfile.js"></script>
            }
