@model CodersPortal.Models.IndexViewModel

@{
    ViewBag.Title = "Edit";
}
@{var myHTML = Model.HTML.Replace('$', '\n');
    if (myHTML == null || myHTML == "")
    {
        myHTML = "please edit content in your profile";
    }
}
<h2>Edit</h2>

<div style="border:1px black">
<section contenteditable="true" id="editable">
        @myHTML    

</section>
    </div>

<button onclick="SaveHTML(@Model.Profile_Id)">Save Changes</button>




            <div>
                @Html.ActionLink("View Profile", "Index")
            </div>

            @section Scripts {
                <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
                <script type="text/javascript" src="~/scripts/loadProfile.js"></script>
            }
